*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #251d5a;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.cor-secundaria-logo {
    color: #f5bce8;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #2D236E;
    z-index: 3;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-links {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
    opacity: 0.8;
}

.nav-links a:hover{
    opacity: 1;
}

.container-direito {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.search-box {
    border: none;
    border-bottom: 1px solid #f5bce8;
    background: transparent;
    color: #fff;
    outline: none;
    height: 30px;
    width: 250px;

    text-transform: capitalize;
    font-size: 1rem;
    transition: 0.5s;
}

.search-box::placeholder{
    font-size: 1.2rem;
}

.search-box:focus {
    width: 400px;
    border-color: transparent;
    color: black;
    background: rgba(222, 204, 247, 0.3);
    border-radius: 5px 5px 5px 5px;
}

.sub-btn {
    background: #925bd6;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: #040404;
    padding: 0 20px;
    transition: 0.3s;
    margin: 15px;
    
}

.sub-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: #8044ca;
    padding: 0 25px;
    height: 35px;
    font-size: 16px;
}

.login-link {
    color: #040404;
    background-color: #C1F7EF;
    padding: 5px 20px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.login-link:hover {
    background-color: #84f7e5;
    padding: 8px 25px;
    height: 35px;
}


/* CSS do Carrousel */

.carousel-container {
    display: flex;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow: hidden;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.3);
}

.carousel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.slider {
    margin-right: 30px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    transition: 1s;
}

.slider img {
    width: 60%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slider-content {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #151133 80%, #0c111b00);
    z-index: 2;
}

.movie-title {
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 70px;
    color: #fff;
}

.movie-desc {
    width: 80%;
    padding-left: 50px;
    margin-top: 5px;
    line-height: 20px;
    opacity: 0.9;
    color: #fff;
}



/* Fim Do CSS do Carrousel */


/* Banners animados dos Videos */

.video-card-container {
    display: flex;
    width: 92%;
    height: 10vw;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}   

.video-card-image, .card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video{
    position: absolute;
}

.video-card:hover .video-card-image{
    display: none;
}


/* Fim dos Banners animados dos Videos */

/* Css Da lista De Filmes */

.title {
    color: #fff;
    opacity: 0.9;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.movie-list {
    width: 100%;
    height: 22px;
    position: relative;
    margin: 10px 0 20px
}

.card-container {
    position: relative;
    width: 95%;
    margin-top: 40px;
    padding-left: 4%;
    height: 230px;
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    max-width: 150px;
    width: 150px;
    height: 230px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
    background: #030b17;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img:hover {
    transform: scale(1.2);
}

.card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.card-body:hover {
    opacity: 1;
}

.name {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 60%;
}

.des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-size: 12px;
}

.watchlist-btn {
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px -21px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    transition: 0.5s;
}

.watchlist-btn::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 12px;
    height: 35px;
    width: 35px;
    background-image: url(imagens/add.png);
    background-size: cover;
    transform: scale(0.4);
    align-items: center;
}

.watchlist-btn:hover {
    color: #fff;
}
/* Fim da lista de filmes */

/* Inicio Footer */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background: #2D236E;
    margin-top: 60px;
    text-decoration: none;
    text-transform: capitalize; 
}

.duvidas {
    margin: 0 0 30px;
    padding: 0;
}

.box-footer {
    display: flex;
    width: 1000px;
    margin: 0 auto;

}

.box-footer .box-footer-links {
    list-style: none;
    text-decoration: none;
    color: #040404;
}

.box-footer-item {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
    text-decoration: none;
}

.template-name {
    position: absolute;
    right: 0;
    bottom: 0;
}